.contentTop0{
    width: 23rem; 
    height: 9.2rem;
    background: url('../img/bj.png');
    background-size: 100% 100%;
    margin: 0 auto;
}
.contentBottom0{
    width: 32rem; 
    height: 11rem;
    background-size: 100% 100%;
    margin: 0 auto;
}

.left0{
    width: 7.5rem;
    height: 10rem;
    background: url('../img/hdgz.png');
    background-size: 100% 100%;
    float: left;
    margin-left: 1rem;
    font-size: 1.133rem;
}

.left0 ul{
    width: 100%;
    height: 80%;
    margin-top: 20%;
    font-size: 0.42rem;
    overflow: auto;
}

.left0 p{
    margin-top: 0.5rem;
    word-break: break-all;
    color: #ffffff;
    font-size:0.41rem;
    text-align: left;
    padding: 0 0.4rem 0 0.6rem;
    text-indent: -0.2rem;
    line-height: 0.6rem;
}

.middle0{
    width: 18.4rem;
    height: 10rem;
    background: url('../img/cjk1.png');
    background-size: 100% 100%;
    float: left;
    margin-left: 1.0rem;
    font-size: 1rem;
}

.middle1{
    width: 18.4rem;
    height: 10rem;
    background: url('../img/cjk.png');
    background-size: 100% 100%;
    float: left;
    margin-left: 1.0rem;
    font-size: 1rem;
}

.right0{
    width: 4.1rem;
    height: 9.4rem;
    background: url('../img/flag.png') no-repeat;
    background-size: 82% 68%;
    float: left;
}

.right0 span{
    width: 2.2rem;
    height: 2rem;
    text-align: center;
    font-size: 0.7rem;
    cursor: pointer;
    display: block;
    margin-top: 0.8rem;
    margin-left: 1rem;
}

.bottom0{
    width:2.0667rem;
    height: 0.933rem;
    clear: both;
    font-size: 0.54rem;
    display: block;
    background: url('../img/back.png');
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 0.2rem;
}

.bottomLink{
    text-decoration: none;
    height: 0.933rem;
    line-height: 0.933rem;
    color: #ffffff;
    margin-top: 0.1667rem;
}


